html {
    position: sticky;
    width: 1080px;
    height: 28800px;
    background: url(images/final.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}
.pdf{
    position: sticky;
    height: 950px;
    width: 950px;
    margin-top: 17785px;
    margin-left: 55px;
}
/*--Animation--*/

#scene {
    position: sticky;
    width: 1080px;
    height: 1920px;
    margin-top: -18700px;
}

#moon {
    height: 40px;
    width: 40px;
    margin-left: 80px;
    margin-top: -20px;
}
 
#sun {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
 
    -webkit-animation: pulse 4s alternate infinite linear;
    -moz-animation: pulse 4s alternate infinite linear;
    -ms-animation: pulse 4s alternate infinite linear;
    -o-animation: pulse 4s alternate infinite linear;
    animation: pulse 4s alternate infinite linear;
}
 
#earth {
    width: 100 px;
    height: 100px;
    position: absolute;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
 
    -webkit-animation: orbit 30s linear infinite;
    -moz-animation: orbit 30s linear infinite;
    -ms-animation: orbit 30s linear infinite;
    -o-animation: orbit 30s linear infinite;
    animation: orbit 30s linear infinite;
}
#earth-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
 
    width: 500px;
    height: 500px;
 
    margin-top: -250px;
    margin-left: -250px;
 
    border: 2px solid #939393;
    -mozborder-radius: 50%;
    -webkitborder-radius: 50%;
    border-radius: 50%;
 
    -webkit-animation: orbit 10s linear infinite;
    -moz-animation: orbit 10s linear infinite;
    -ms-animation: orbit 10s linear infinite;
    -o-animation: orbit 10s linear infinite;
    animation: orbit 10s linear infinite;
}

#moon-orbit {
    width: 200px;
    height: 200px;
 
    position: absolute;
    top: 50%;
    margin-top: -100px;
    margin-left: -100px;
 
    -webkit-animation: orbit 10s linear infinite;
    -moz-animation: orbit 10s linear infinite;
    -ms-animation: orbit 10s linear infinite;
    -o-animation: orbit 10s linear infinite;
    animation: orbit 10s linear infinite;
}
 
 
@-webkit-keyframes pulse {
    0% {
        transform: scale(0.8);
    }
    100%  {
        transform: scale(1);
    }
}
@-moz-keyframes pulse {
    0% {
        transform: scale(0.8);
    }
    100%  {
        transform: scale(1);
    }
}
@-o-keyframes pulse {
    0% {
        transform: scale(0.9);
    }
    100%  {
        transform: scale(1);
    }
}
@keyframes pulse {
    0% {
        transform: scale(0.8);
    }
    100%  {
        transform: scale(1);
    }
}
 
 
@-webkit-keyframes orbit {
    100%  {
        transform: rotate(360deg)
    }
}
@-moz-keyframes orbit {
    100%  {
        transform: rotate(360deg)
    }
}
@-o-keyframes orbit {
    100%  {
        transform: rotate(360deg)
    }
}
@keyframes orbit {
    100%  {
        transform: rotate(360deg)
    }
}
